# Project exclude paths
/out/
/spring-javaee-test06/target/
/springmvc-01-servlet/target/
/springmvc-02-hellomvc/target/
/springmvc-03-annotation/target/
/springmvc-04-controller/target/
/springmvc-05-json/target/
/springmvc-06-ajax/target/
/springmvc-07-intercepter/target/
/springmvc-08-file/target/